<h1>All constructors listed below</h1>

<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>
        {{#each constructors}}
        <tr>
            <td><a href="/constructors/{{constructorId}}">{{name}}</a></td>
        </tr>
        {{/each}}
        <!-- .... -->
    </tbody> 
</table>