<h1>All drivers listed below</h1>


<table>
    <thead>
        <th>Name</th>
    </thead>
    <tbody>
        {{#each drivers}}
        <tr>
            <td><a href="/drivers/{{driverId}}">{{givenName}} {{familyName}}</a></td>
        </tr>
        {{/each}}
        <!-- .... -->
    </tbody>
</table>
