<h3>Text</h3>

<h4>Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 100">
      <text x="10" y="50" style="font-size:30px">This is some text created via SVG</text>
    </svg>
  </div>
</div>

<h4>Text w/ Auto-Wrap</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-style" viewBox="0 0 500 130">
      <foreignObject x="0" y="0" width="200" height="500">
        <p style="font-size: 10px; border: 1px solid black; padding-left: 2px;">If what you're doing doesn't make you happy - you're doing the wrong thing. Trees grow however makes them happy.
        You've got to learn to fight the temptation to resist these things. Just let them happen. If you overwork it you become a cloud killer. There's nothing worse than a cloud killer. If you hypnotize it, it will go away.</p>
      </foreignObject>
    </svg>
  </div>
</div>

<h4>Fancy Text</h4>
<div class="row">
  <div class="col-sm-12">
    <svg class="svg-text" viewBox="0 0 900 450">

    </svg>
  </div>
</div>
